table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 98%;
    text-align: center;
    margin: 32px auto;
}

table > caption {
    font-weight: bold;
    font-size: larger;
}

tbody > tr > td {  /* Target table cells directly */
    background-color: #eaf1dd; /* Example color */
    overflow: hidden; /* Prevent content overflow */
    word-wrap: break-word; /* Allow long words to break */
    vertical-align: middle; /* Center text vertically */
    padding: 8px; /* Add some padding for better readability */
}

tbody > tr:nth-child(n + 10) > td { background-color: #e5dfec; }
tbody > tr:nth-child(n + 19) > td { background-color: #fde9d9; }
tbody > tr:nth-child(n + 28) > td { background-color: #dbe5f1; }
tbody > tr:nth-child(n + 37) > td { background-color: #f2dbdb; }

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    height: 100px;
}

.aybu {
    background-color: #164840;
    padding-top: 15px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    width: 50%;
    height: 60px;
}

.overflow-cell {
    overflow: visible;
    display: inline-block;
}

.button {
    background-color: #09c781; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    margin-right: 30px;
}

.button:hover {
    background-color: white; /* Green */
    color: #09c781;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgFlag {
    width: 70px;
    height: 50px;
    border-radius: 10%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.buttonFlag{
    width: 70px;
    height: 50px;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    position: absolute;
    top: 10px;
    right: 10px;
}