table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 98%;
    text-align: center;
    margin: 32px auto;
    overflow-wrap:visible;
}

table > caption {
    font-weight: bold;
    font-size: larger;
}

tbody > tr > .overflow-cell{
    background-color: #eaf1dd;
    overflow:visible;
}
tbody > tr:nth-child(n + 10) > .overflow-cell{
    background-color: #e5dfec;
    overflow:visible;
}
tbody > tr:nth-child(n + 19) > .overflow-cell{
    background-color: #fde9d9;
    overflow:visible;
}

tbody > tr:nth-child(n + 28) > .overflow-cell{
    background-color: #dbe5f1;
    overflow:visible;
}
tbody > tr:nth-child(n + 37) > .overflow-cell{
    background-color: #f2dbdb;
    overflow:visible;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    height: 100px;
}

.aybu {
    background-color: #164840;
    padding-top: 15px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    width: 50%;
    height: 60px;
}

.overflow-cell {
    overflow: visible;
}